matplotlib==3.10.1
numpy==2.2.3
onnx==1.14.0
onnxsim==0.4.36
packaging==24.2
Pillow==11.1.0
pycocotools==2.0.8
PyYAML==6.0.2
PyYAML==6.0.2
scipy==1.15.2
torch==2.0.1+cu118
torchvision==0.15.2+cu118
transformers==4.48.3
